:root {
  --bg-hedaer: rgb(0, 34, 84);
  --color-header: rgb(241, 242, 39);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --bg-aside: rgb(181, 26, 52);
  --color-button: rgb(0, 6, 238);
}
