:root {
  --bg-hedaer: rgb(0, 34, 84);
  --color-header: rgb(241, 242, 39);
  --black-color: rgb(0, 0, 0);
  --white-color: rgb(255, 255, 255);
  --bg-aside: rgb(181, 26, 52);
  --color-button: rgb(0, 6, 238);
}
* {
  box-sizing: border-box;
  font-family: iran;
}
body {
  margin: 0;
}
@font-face {
  font-family: iran;
  src: url(../font/yekan.woff);
}
header {
  width: 100%;
  margin: 0;
  background-color: var(--bg-hedaer);
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-header);
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 100;
}
header > figure {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0;
  padding: 0;
}
header > figure > img {
  width: 30%;
}
header > figure > figcaption {
  font-size: 1.5rem;
}
header > nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-left: 2rem;
}
header > nav > a {
  text-decoration: none;
  padding: 0 2rem;
  font-size: 1.3rem;
  transition: 0.5s;
}
header > nav > a:hover {
  transform: scale(1.2);
  transition: 0.5s;
}
header > nav a,
button {
  color: var(--color-header);
}
header > nav > button {
  outline: none;
  border: 2px solid var(--color-header);
  background-color: var(--bg-hedaer);
  padding: 0.5rem 1.5rem;
  font-size: 1.3rem;
  cursor: pointer;
}
#slide {
  background: url(../images/slideimg/slide1.jpg);
  width: 100%;
  height: 700px;
  margin: 0;
  background-size: auto;
}
article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
.article-content-h1 > h1 {
  font-size: 2rem;
  margin: 0;
  padding-bottom: 18px;
}
.article-content-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 2rem;
}
.article-content-p > p {
  width: 50%;
  margin: 0 2rem;
  font-size: 1.4rem;
  font-weight: 400;
  text-align: justify;
}
aside {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-aside);
  height: 200px;
}
aside > button {
  background-color: inherit;
  border: 6px solid var(--white-color);
  color: var(--white-color);
  padding: 1rem 3rem;
  font-size: 2rem;
  cursor: pointer;
  font-weight: 900;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main > div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}
main > div > h1 {
  margin: 0;
}
.row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 30%;
}
.column > img {
  width: 100%;
  border-radius: 0.5rem;
}
.column > h2 {
  margin: 0;
  padding: 1rem 0;
  font-size: 2rem;
}
.column > p {
  text-align: justify;
  font-size: 1.2rem;
  font-weight: 900;
  margin: 0;
}
.column > button {
  background-color: var(--bg-hedaer);
  color: var(--white-color);
  border: 1px solid var(--bg-hedaer);
  padding: 0.5rem 1rem;
  margin: 1rem 0;
  font-size: 12px;
  transition: 0.5s;
  cursor: pointer;
}
.column > button:hover {
  background-color: var(--white-color);
  color: var(--bg-hedaer);
  transform: scale(1.1);
  transition: 0.5s;
}
